#sidebar-left h2 {font-size: 1.1em; line-height: 1.1em; color: #565245; margin: 0 0 8px 0; padding: 0 0 2px 0; border-bottom: 3px solid #B6B1A9; letter-spacing: .5px; font-weight: normal; font-family: verdana; text-transform: uppercase;}
#sidebar-left {letter-spacing: 0px}
#header #logo {vertical-align: top}
#header #site {width: auto}
